<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxzhongf.sharedcenter.dao.relationship.MidUserShareMapper">
  <resultMap id="BaseResultMap" type="com.sxzhongf.sharedcenter.domain.entity.relationship.MidUserShare">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="share_id" jdbcType="BIGINT" property="shareId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>