<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxzhongf.sharedcenter.dao.notice.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.sxzhongf.sharedcenter.domain.entity.notice.Notice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <result column="show_flag" jdbcType="BIT" property="showFlag"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
</mapper>